<div class="character__header">
    <img id="logo" src="src/images/bb_logo.svg" alt="Logo Breaking Bad">
    <input type="search" placeholder="Rechercher" class="js-searchbar">
</div>
<div class="character__global">
    <img class="character__image" src="{{{imageTemplate}}}" alt="Character image">
    <div>
      <div class="title">
        <h1 class="character__name">{{{nameTemplate}}}</h1>
        <h2 class="character__nickname">{{{nicknameTemplate}}}</h2>
      </div>
        <p class="character__birthday">Birthday : {{{birthdayTemplate}}}</p>
        <p class="character__portrayed">Actor : {{{portrayedTemplate}}}</p>
        <p class="character__occupation">Occupations : {{{occupationTemplate}}}</p>
        <p class="character__status">Status : {{{statusTemplate}}}</p>
    </div>
</div>
