<h1 class="character__name">{{{nameTemplate}}}</h1>
<h2 class="character__nickname">{{{nicknameTemplate}}}</h2>
<img class="character__image"/ src="{{{imageTemplate}}}" alt="Character image">
<p class="character__birthday">{{{birthdayTemplate}}}</p>
<p class="character__portrayed">{{{portrayedTemplate}}}</p>
<p class="character__occupation">{{{occupationTemplate}}}</p>
<p class="character__status">{{{statusTemplate}}}</p>
